node_modules
dist
bin/mdview.mjs
bin/*.map
.DS_Store
*.log
.vscode
.idea
mdview-*.tgz
apps/vscode/node_modules
apps/vscode/dist
apps/vscode/*.vsix
apps/vscode/.vscode-test
!apps/vscode/.vscode/
!apps/vscode/.vscode/*
